{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/style.css"> 
{% endblock styles %}
{% block title %}BoardWorld{% endblock title %}
{% block content %}
    <div class="container padding-32">
        <h3 class="border-bottom border-light-grey padding-16">
        <a class="bar-item button" href="/admin">Hello,</a>
            {{ user.get_username }}
        </h3>
    </div>

    <label><b>Email:</b></label>
    <label>{{ user.email }}</label>

    <h4>Изменение пароля</h4>

    <label style="color: green;">{{ message }}</label>

    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit">Изменить</button>
      </form>

{% endblock content %}